.l-page {
  margin:0 auto;
  max-width: 1250px;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}

#block-block-1, #block-block-3 {
  .logo-image {
    margin-bottom: 5px;
  }
  div.goal {
    a {
      display:block;
      background: $medium;
      color: $light;
      padding: 10px 2px;
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 1.6em;
	  border-top: 1px solid $light;
    }
    a:hover {
      color: $highlight;
      background: $shade;
    }
  }
  div.goal-label {
    color: $highlight;
    font-size: 1.8em;
    font-family: 'Roboto Slab', serif;
    padding: 10px 2px;
    margin-bottom: 2px;
  }
}
.l-logo {
  clear: both !important;
  float: none !important;
  padding:0;
  text-align: center !important;
}
.dwg {
  font-family: 'Roboto Slab', serif;
  background: $highlight;
  font-size: 2em;

  a {
    color: $light;
    display:block;
    padding: 10px;
  }
}
.l-content {
  .post {
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
    padding: 0px 20px 20px 20px !important;
    z-index: 0;
  }
}
.node-type-article {
  .l-content {
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    padding: 0px 20px 20px 20px !important;
    z-index: 0;
  }
}

.field--name-body {
  margin: 20px 0;
}


span.submitted {
  float:left;
  margin: 10px;
  font-style:italic;
  font-family: 'Roboto Slab', serif;
}
.phase-more {
  display:none;
}
.phase-more.open {
  display: block;
}
