//Links

$a-link:#0754A8;
$a-visited:#004A95;
$a-active:#555;
$a-hover:#555;

//Backgrounds
$dark: #000;
$medium: #666666;
$med-light: #999999;
$shade: #e1e1e1;
$light: #ffffff;
$highlight: #0754A8;