.addtoany_list {
  line-height: 16px;
  margin: 0 0 30px 0;
  display: block;
}

.field--name-body ul {
  list-style: disc;
  list-style-position: outside;
  font-size: 1.3em;
  margin: 20px 0 20px 40px;
  line-height:1.5;
  ul {
    font-size: inherit;
  }
}
.field--name-body ol {
  list-style: decimal;
  list-style-position: outside;
  font-size: 1.3em;
  margin: 20px 0 20px 40px;
  line-height:1.5;
  ul {
    font-size: inherit;
  }
}