// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";
@import "fittext";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";

.l-page {
  margin:0 auto;
  max-width: 1250px;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}
.l-main {
  @include breakpoint($tablet, true) {
    @include grid-span(8,1);
  }
}
.l-header {
  @include breakpoint($tablet, true) {
    @include grid-span(4,9);
  }
}
#block-block-1, #block-block-3 {
  .logo-image {
    margin-bottom: 5px;
  }
  div.goal {
    a {
      display:block;
      background: $medium;
      color: $light;
      padding: 10px 2px;
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 1.6em;
	  border-top: 1px solid $light;
    }
    a:hover {
      color: $highlight;
      background: $shade;
    }
  }
  div.goal-label {
    color: $highlight;
    font-size: 1.8em;
    font-family: 'Roboto Slab', serif;
    padding: 10px 2px;
    margin-bottom: 2px;
  }
}
.l-logo {
  clear: both !important;
  float: none !important;
  padding:0;
  text-align: center !important;
}
.dwg {
  font-family: 'Roboto Slab', serif;
  background: $highlight;
  font-size: 2em;

  a {
    color: $light;
    display:block;
    padding: 10px;
  }
}
.l-content {
  .post {
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
    padding: 0px 20px 20px 20px !important;
    z-index: 0;
  }
}
.node-type-article {
  .l-content {
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    padding: 0px 20px 20px 20px !important;
    z-index: 0;
  }
}

.field--name-body {
  margin: 20px 0;
}

.social {
  margin: 10px 0;

  span a {
    list-style:none;
    text-align:center;
    display:inline-block;
    margin:0 0 0 5px;
    width:35px;
    color:$medium;
    height:35px;
    line-height:35px !important;
    @include border-radius(200px);
    border: 1px solid $medium;
  }
}
.front .mepic {
  float:left;
  margin-right: 10px;
}
.mepic {
  img {
    @include border-radius(200px);
    border: 1px solid $medium;
  }
}

.social span a:hover {
  color:$highlight;
  border-color:$highlight;
}

span.submitted {
  float:left;
  margin: 10px;
  font-style:italic;
  font-family: 'Roboto Slab', serif;
}
.phase-more {
  display:none;
}
.phase-more.open {
  display: block;
}
