#block-search-form {
  input.custom-search-box.form-text {
    height: 50px;
    padding: 10px;
    width: 100%;
  }
}
.form-item.form-type-textfield.form-item-search-block-form {
  margin-bottom: 0;
}