/* line 1, ../src/sass/_base/_elements.scss */
body {
  font-family: 'Open Sans';
  font-weight: 400;
  margin: 0;
  padding: 0; }

/* line 8, ../src/sass/_base/_elements.scss */
a {
  color: #0754A8;
  text-decoration: none; }
  /* line 12, ../src/sass/_base/_elements.scss */
  a:hover {
    color: #555; }

/* line 17, ../src/sass/_base/_elements.scss */
p {
  line-height: 2; }

/* line 21, ../src/sass/_base/_elements.scss */
h1 {
  font-family: 'Josefin Sans';
  font-size: 3em;
  font-weight: 700;
  margin: 0;
  padding: 20px 0; }

/* line 29, ../src/sass/_base/_elements.scss */
h2 {
  font-family: 'Josefin Sans';
  font-size: 3em;
  font-weight: 700; }

/* line 36, ../src/sass/_base/_elements.scss */
img, media {
  max-width: 100%; }

/* line 39, ../src/sass/_base/_elements.scss */
.addtoany_list {
  line-height: 16px;
  margin: 0 0 30px 0;
  display: block; }

/* line 45, ../src/sass/_base/_elements.scss */
.field--name-body ul {
  list-style: disc;
  list-style-position: outside;
  font-size: 1.3em;
  margin: 20px 0 20px 40px;
  line-height: 1.5; }
  /* line 51, ../src/sass/_base/_elements.scss */
  .field--name-body ul ul {
    font-size: inherit; }

/* line 55, ../src/sass/_base/_elements.scss */
.field--name-body ol {
  list-style: decimal;
  list-style-position: outside;
  font-size: 1.3em;
  margin: 20px 0 20px 40px;
  line-height: 1.5; }
  /* line 61, ../src/sass/_base/_elements.scss */
  .field--name-body ol ul {
    font-size: inherit; }

/* line 65, ../src/sass/_base/_elements.scss */
img, media {
  max-width: 100%; }

/* line 1, ../src/sass/_base/_typography.scss */
body {
  font-family: 'Roboto', sans-serif; }

/* line 5, ../src/sass/_base/_typography.scss */
h1.site-name {
  margin-bottom: 0;
  font-size: 1.45em !important; }
  /* line 8, ../src/sass/_base/_typography.scss */
  h1.site-name a {
    color: #999999; }

/* line 14, ../src/sass/_base/_typography.scss */
h1.front-title {
  font-size: 1.1em;
  line-height: 1.5; }
  /* line 17, ../src/sass/_base/_typography.scss */
  h1.front-title span {
    color: #ffffff;
    background: #0754A8;
    padding: 5px 10px; }
  @media (min-width: 360px) {
    /* line 14, ../src/sass/_base/_typography.scss */
    h1.front-title {
      font-size: 1.7em; } }
  @media (min-width: 768px) {
    /* line 14, ../src/sass/_base/_typography.scss */
    h1.front-title {
      font-size: 4em; } }

/* line 29, ../src/sass/_base/_typography.scss */
h2 {
  margin: 0;
  padding: 0; }

/* line 33, ../src/sass/_base/_typography.scss */
h2.site-slogan {
  font-size: 1.45em;
  font-weight: 100;
  color: #666666; }

/* line 38, ../src/sass/_base/_typography.scss */
h3 {
  font-size: 1.7em;
  margin-bottom: 20px; }

/* line 42, ../src/sass/_base/_typography.scss */
h4 {
  font-size: 1.2em;
  margin: 30px 0 10px 0;
  border-bottom: 1px solid #999999;
  font-weight: 100; }

/* line 48, ../src/sass/_base/_typography.scss */
p {
  margin-bottom: 20px;
  line-height: 1.5;
  color: #000; }

/* line 53, ../src/sass/_base/_typography.scss */
p.finish {
  font-size: 1em;
  padding: 20px; }

/* line 1, ../src/sass/_layout/_layout.scss */
.page {
  box-sizing: border-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  /* line 12, ../../../../../../../../../home/vagrant/.rvm/gems/ruby-1.9.3-p551@global/gems/susy-2.2.6/sass/susy/output/support/_clearfix.scss */
  .page:after {
    content: " ";
    display: block;
    clear: both; }

@media (min-width: 768px) {
  /* line 6, ../src/sass/_layout/_layout.scss */
  .content {
    box-sizing: border-box;
    width: 66.26506%;
    float: left;
    margin-right: 1.20482%; }

  /* line 11, ../src/sass/_layout/_layout.scss */
  .side {
    box-sizing: border-box;
    width: 32.53012%;
    float: right;
    margin-right: 0; } }
/* line 16, ../src/sass/_layout/_layout.scss */
.title {
  box-sizing: border-box;
  width: 83.13253%;
  float: left;
  margin-right: 1.20482%; }
  @media (min-width: 800px) {
    /* line 16, ../src/sass/_layout/_layout.scss */
    .title {
      box-sizing: border-box;
      width: 40.96386%;
      float: left;
      margin-right: 1.20482%; } }

/* line 24, ../src/sass/_layout/_layout.scss */
.menu-expander {
  box-sizing: border-box;
  width: 15.66265%;
  float: right;
  margin-right: 0; }

/* line 1, ../src/sass/_modules/_fa.scss */
.fa.fa-smile-o {
  font-size: 3em; }

/* line 4, ../src/sass/_modules/_fa.scss */
.fa.fa-arrow-down, .fa.fa-arrow-up {
  background: #0754A8;
  color: #ffffff;
  padding: 10px; }

/* line 1, ../src/sass/_modules/_header.scss */
.header {
  border-bottom: 1px solid #0754A8;
  margin-bottom: 20px;
  overflow: hidden; }
  /* line 6, ../src/sass/_modules/_header.scss */
  .header .title {
    float: left;
    padding: 10px; }

/* line 1, ../src/sass/_modules/_main.scss */
.l-page {
  margin: 0 auto;
  max-width: 1250px; }

/* line 5, ../src/sass/_modules/_main.scss */
.container {
  padding-left: 15px;
  padding-right: 15px; }

/* line 11, ../src/sass/_modules/_main.scss */
#block-block-1 .logo-image, #block-block-3 .logo-image {
  margin-bottom: 5px; }
/* line 15, ../src/sass/_modules/_main.scss */
#block-block-1 div.goal a, #block-block-3 div.goal a {
  display: block;
  background: #666666;
  color: #ffffff;
  padding: 10px 2px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.6em;
  border-top: 1px solid #ffffff; }
/* line 26, ../src/sass/_modules/_main.scss */
#block-block-1 div.goal a:hover, #block-block-3 div.goal a:hover {
  color: #0754A8;
  background: #e1e1e1; }
/* line 31, ../src/sass/_modules/_main.scss */
#block-block-1 div.goal-label, #block-block-3 div.goal-label {
  color: #0754A8;
  font-size: 1.8em;
  font-family: 'Roboto Slab', serif;
  padding: 10px 2px;
  margin-bottom: 2px; }

/* line 39, ../src/sass/_modules/_main.scss */
.l-logo {
  clear: both !important;
  float: none !important;
  padding: 0;
  text-align: center !important; }

/* line 45, ../src/sass/_modules/_main.scss */
.dwg {
  font-family: 'Roboto Slab', serif;
  background: #0754A8;
  font-size: 2em; }
  /* line 50, ../src/sass/_modules/_main.scss */
  .dwg a {
    color: #ffffff;
    display: block;
    padding: 10px; }

/* line 57, ../src/sass/_modules/_main.scss */
.l-content .post {
  background: #FFFFFF;
  overflow: hidden;
  position: relative;
  padding: 0px 20px 20px 20px !important;
  z-index: 0; }

/* line 66, ../src/sass/_modules/_main.scss */
.node-type-article .l-content {
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  padding: 0px 20px 20px 20px !important;
  z-index: 0; }

/* line 75, ../src/sass/_modules/_main.scss */
.field--name-body {
  margin: 20px 0; }

/* line 80, ../src/sass/_modules/_main.scss */
span.submitted {
  float: left;
  margin: 10px;
  font-style: italic;
  font-family: 'Roboto Slab', serif; }

/* line 86, ../src/sass/_modules/_main.scss */
.phase-more {
  display: none; }

/* line 89, ../src/sass/_modules/_main.scss */
.phase-more.open {
  display: block; }

/* line 1, ../src/sass/_modules/_me.scss */
#block-block-2 {
  text-align: center; }

/* line 4, ../src/sass/_modules/_me.scss */
.mepic {
  margin-bottom: 10px; }
  /* line 5, ../src/sass/_modules/_me.scss */
  .mepic img {
    border-radius: 50%; }

/* line 1, ../src/sass/_modules/_menu.scss */
.navigation {
  display: none; }
  @media (min-width: 800px) {
    /* line 1, ../src/sass/_modules/_menu.scss */
    .navigation {
      display: block; } }

/* line 8, ../src/sass/_modules/_menu.scss */
.navigation.open {
  display: block;
  clear: both; }
  @media (min-width: 800px) {
    /* line 8, ../src/sass/_modules/_menu.scss */
    .navigation.open {
      clear: none; } }

/* line 16, ../src/sass/_modules/_menu.scss */
ul.menu {
  padding: 0; }

/* line 20, ../src/sass/_modules/_menu.scss */
.menu {
  margin: 0; }
  /* line 23, ../src/sass/_modules/_menu.scss */
  .menu .leaf {
    list-style-image: none;
    list-style-type: none; }
  /* line 28, ../src/sass/_modules/_menu.scss */
  .menu a {
    background: #0754A8;
    color: #ffffff;
    display: block;
    margin-bottom: 1px;
    padding: 10px; }
    @media (min-width: 800px) {
      /* line 28, ../src/sass/_modules/_menu.scss */
      .menu a {
        background: inherit;
        color: #0754A8;
        margin-bottom: 0; } }
  @media (min-width: 800px) {
    /* line 20, ../src/sass/_modules/_menu.scss */
    .menu {
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important;
      float: right; } }

/* line 1, ../src/sass/_modules/_menuexpander.scss */
.menu-expander {
  background: #0754A8;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: 1.5em;
  padding: 10px;
  text-align: center;
  text-transform: uppercase; }
  @media (min-width: 800px) {
    /* line 1, ../src/sass/_modules/_menuexpander.scss */
    .menu-expander {
      display: none; } }

@media (min-width: 768px) {
  /* line 2, ../src/sass/_modules/_navigation.scss */
  .main-nav {
    margin-bottom: 30px; } }
/* line 6, ../src/sass/_modules/_navigation.scss */
.main-nav .menu-button {
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
  font-size: 1.6em;
  color: #000;
  margin: 0;
  text-align: right;
  padding: 10px; }
  @media (min-width: 768px) {
    /* line 6, ../src/sass/_modules/_navigation.scss */
    .main-nav .menu-button {
      display: none; } }
/* line 21, ../src/sass/_modules/_navigation.scss */
.main-nav ul.menu {
  display: none; }
  @media (min-width: 768px) {
    /* line 21, ../src/sass/_modules/_navigation.scss */
    .main-nav ul.menu {
      border-top: 1px solid #666666;
      display: block; } }
  /* line 28, ../src/sass/_modules/_navigation.scss */
  .main-nav ul.menu li {
    list-style-type: none;
    list-style-image: none; }
    /* line 33, ../src/sass/_modules/_navigation.scss */
    .main-nav ul.menu li ul li {
      padding-left: 20px;
      font-size: 1em; }
      /* line 37, ../src/sass/_modules/_navigation.scss */
      .main-nav ul.menu li ul li a {
        color: #ffffff; }
    /* line 44, ../src/sass/_modules/_navigation.scss */
    .main-nav ul.menu li a {
      display: block;
      padding: 20px 10px;
      border-bottom: 1px solid #0754A8; }
/* line 51, ../src/sass/_modules/_navigation.scss */
.main-nav ul.menu.open {
  border-top: 1px solid #666666;
  width: 100%;
  position: absolute;
  z-index: 999;
  background: #ffffff;
  display: block; }

/* line 60, ../src/sass/_modules/_navigation.scss */
.pager {
  padding: 10px;
  margin: 40px 0px; }

/* line 64, ../src/sass/_modules/_navigation.scss */
.pager li.pager-current {
  color: #ffffff;
  background: #0754A8;
  padding: 10px 20px; }

/* line 69, ../src/sass/_modules/_navigation.scss */
.pager li {
  display: inline; }
  /* line 72, ../src/sass/_modules/_navigation.scss */
  .pager li a {
    color: #ffffff;
    background: #0754A8;
    padding: 10px 20px; }

/* line 2, ../src/sass/_modules/_search.scss */
#block-search-form input.custom-search-box.form-text {
  height: 50px;
  padding: 10px;
  width: 100%; }

/* line 8, ../src/sass/_modules/_search.scss */
.form-item.form-type-textfield.form-item-search-block-form {
  margin-bottom: 0; }

/* line 3, ../src/sass/_modules/_views.scss */
.page-taxonomy-term article {
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  padding: 40px 20px 20px 20px !important;
  z-index: 0; }

/* line 14, ../src/sass/_modules/_views.scss */
.view-frontpage .views-row {
  overflow: hidden;
  position: relative;
  padding: 40px 20px 20px 20px !important;
  z-index: 0; }

/* line 22, ../src/sass/_modules/_views.scss */
.view-articles-referencing-a-section-of-the-program .views-row {
  overflow: hidden;
  margin-bottom: 30px;
  padding: 40px 0 20px 0; }

/* line 30, ../src/sass/_modules/_views.scss */
.form-item-sort-by {
  display: none; }

/* line 34, ../src/sass/_modules/_views.scss */
.form-item-sort-order label {
  display: none; }

/* line 37, ../src/sass/_modules/_views.scss */
.form-item-items-per-page label {
  display: inline-block;
  float: left;
  padding: 10px;
  color: #ffffff;
  background: #0754A8;
  margin: 3px; }

/* line 45, ../src/sass/_modules/_views.scss */
select#edit-items-per-page {
  padding: 6px;
  margin-top: 2px;
  cursor: pointer; }

/* line 51, ../src/sass/_modules/_views.scss */
.views-exposed-form .form-item {
  float: left; }
  /* line 53, ../src/sass/_modules/_views.scss */
  .views-exposed-form .form-item a {
    display: block;
    padding: 10px;
    color: #ffffff;
    background: #0754A8;
    margin: 3px; }

/* line 61, ../src/sass/_modules/_views.scss */
.views-exposed-widget.views-widget-sort-order {
  margin: 0 0 20px 0; }
