.addtoany_list {
  line-height: 16px;
  margin: 0 0 30px 0;
  display: block;
}

.field--name-body ul {
  list-style: disc;
  list-style-position: outside;
  font-size: 1.3em;
  margin: 20px 0 20px 40px;
  line-height: 1.5;
}
.field--name-body ul ul {
  font-size: inherit;
}

.field--name-body ol {
  list-style: decimal;
  list-style-position: outside;
  font-size: 1.3em;
  margin: 20px 0 20px 40px;
  line-height: 1.5;
}
.field--name-body ol ul {
  font-size: inherit;
}

img, media {
  max-width: 100%;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

input {
  max-width: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

em {
  font-style: italic;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img, media {
  max-width: 100%;
  height: auto;
}

/* FlexSlider Resets
*********************************/
.flexslider {
  margin: 0;
  border: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/* Direction Nav */
.flex-direction-nav a {
  height: 60px;
}

#footer .feedzilla-logo .img {
  background: none !important;
  cursor: pointer;
  position: absolute;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1 {
  margin-bottom: 20px;
  font-weight: 100;
  text-transform: uppercase;
}
@media screen and (min-width: 360px) {
  h1 {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 410px) {
  h1 {
    font-size: 1.6em;
  }
}
@media screen and (min-width: 460px) {
  h1 {
    font-size: 1.7em;
  }
}
@media screen and (min-width: 510px) {
  h1 {
    font-size: 1.8em;
  }
}
@media screen and (min-width: 560px) {
  h1 {
    font-size: 1.9em;
  }
}
@media screen and (min-width: 610px) {
  h1 {
    font-size: 2.0em;
  }
}
@media screen and (min-width: 660px) {
  h1 {
    font-size: 2.1em;
  }
}
@media screen and (min-width: 710px) {
  h1 {
    font-size: 2.2em;
  }
}
@media screen and (min-width: 760px) {
  h1 {
    font-size: 2.3em;
  }
}
@media screen and (min-width: 810px) {
  h1 {
    font-size: 2.4em;
  }
}
@media screen and (min-width: 860px) {
  h1 {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 910px) {
  h1 {
    font-size: 2.6em;
  }
}
@media screen and (min-width: 960px) {
  h1 {
    font-size: 2.7em;
  }
}
@media screen and (min-width: 1010px) {
  h1 {
    font-size: 2.8em;
  }
}
@media screen and (min-width: 1060px) {
  h1 {
    font-size: 2.9em;
  }
}

h1.site-name {
  margin-bottom: 0;
  font-size: 1.45em !important;
}
h1.site-name a {
  color: #999999;
}

h1.front-title {
  font-size: 1.1em;
  line-height: 1.5;
  font-size: 1.7em;
  font-size: 4em;
}
h1.front-title span {
  color: white;
  background: #0754a8;
  padding: 5px 10px;
}

h2, caption {
  margin-bottom: 20px;
  line-height: 1.5;
}
@media screen and (min-width: 360px) {
  h2, caption {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 410px) {
  h2, caption {
    font-size: 1.6em;
  }
}
@media screen and (min-width: 460px) {
  h2, caption {
    font-size: 1.7em;
  }
}
@media screen and (min-width: 510px) {
  h2, caption {
    font-size: 1.8em;
  }
}
@media screen and (min-width: 560px) {
  h2, caption {
    font-size: 1.9em;
  }
}
@media screen and (min-width: 610px) {
  h2, caption {
    font-size: 2.0em;
  }
}
@media screen and (min-width: 660px) {
  h2, caption {
    font-size: 2.1em;
  }
}
@media screen and (min-width: 710px) {
  h2, caption {
    font-size: 2.2em;
  }
}
@media screen and (min-width: 760px) {
  h2, caption {
    font-size: 2.3em;
  }
}
@media screen and (min-width: 810px) {
  h2, caption {
    font-size: 2.4em;
  }
}
@media screen and (min-width: 860px) {
  h2, caption {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 910px) {
  h2, caption {
    font-size: 2.6em;
  }
}
@media screen and (min-width: 960px) {
  h2, caption {
    font-size: 2.7em;
  }
}
@media screen and (min-width: 1010px) {
  h2, caption {
    font-size: 2.8em;
  }
}
@media screen and (min-width: 1060px) {
  h2, caption {
    font-size: 2.9em;
  }
}

h2.site-slogan {
  font-size: 1.45em;
  font-weight: 100;
  color: #666666;
}

h3 {
  font-size: 1.7em;
  margin-bottom: 20px;
}

h4 {
  font-size: 1.2em;
  margin: 30px 0 10px 0;
  border-bottom: 1px solid #999999;
  font-weight: 100;
}

p {
  margin-bottom: 20px;
  line-height: 1.5;
  color: black;
}

p.finish {
  font-size: 1em;
  padding: 20px;
}

.fa.fa-smile-o {
  font-size: 3em;
}

.fa.fa-arrow-down, .fa.fa-arrow-up {
  background: #0754a8;
  color: white;
  padding: 10px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* unvisited link */
a:link {
  color: #0754a8;
}

/* visited link */
a:visited {
  color: #004a95;
}

/* mouse over link */
a:hover {
  color: #555555;
}

/* selected link */
a:active {
  color: #555555;
}

a.open, a.close {
  font-size: 1.6em;
  display: block;
  padding: 10px;
  margin: 20px 0;
  color: #0754a8;
}

.main-nav {
  margin-bottom: 30px;
}
.main-nav .menu-button {
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
  font-size: 1.6em;
  color: black;
  margin: 0;
  text-align: right;
  padding: 10px;
  display: none;
}
.main-nav ul.menu {
  display: none;
  border-top: 1px solid #666666;
  display: block;
}
.main-nav ul.menu li {
  list-style-type: none;
  list-style-image: none;
}
.main-nav ul.menu li ul li {
  padding-left: 20px;
  font-size: 1em;
}
.main-nav ul.menu li ul li a {
  color: #999999;
}
.main-nav ul.menu li a {
  display: block;
  padding: 20px 10px;
  border-bottom: 1px solid #0754a8;
}
.main-nav ul.menu.open {
  border-top: 1px solid #666666;
  width: 100%;
  position: absolute;
  z-index: 999;
  background: white;
  display: block;
}

.pager {
  padding: 10px;
  margin: 40px 0px;
}

.pager li.pager-current {
  color: white;
  background: #0754a8;
  padding: 10px 20px;
}

.pager li {
  display: inline;
}
.pager li a {
  color: white;
  background: #0754a8;
  padding: 10px 20px;
}

#block-block-4 {
  margin-top: 50px;
}

#block-search-form input.custom-search-box.form-text {
  height: 50px;
  padding: 10px;
  width: 100%;
}

.form-item.form-type-textfield.form-item-search-block-form {
  margin-bottom: 0;
}

.page-taxonomy-term article {
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  padding: 40px 20px 20px 20px !important;
  z-index: 0;
}

.view-frontpage .views-row {
  overflow: hidden;
  position: relative;
  padding: 40px 20px 20px 20px !important;
  z-index: 0;
}

.view-articles-referencing-a-section-of-the-program .views-row {
  overflow: hidden;
  margin-bottom: 30px;
  padding: 40px 0 20px 0;
}

.form-item-sort-by {
  display: none;
}

.form-item-sort-order label {
  display: none;
}

.form-item-items-per-page label {
  display: inline-block;
  float: left;
  padding: 10px;
  color: white;
  background: #0754a8;
  margin: 3px;
}

select#edit-items-per-page {
  padding: 6px;
  margin-top: 2px;
  cursor: pointer;
}

.views-exposed-form .form-item {
  float: left;
}
.views-exposed-form .form-item a {
  display: block;
  padding: 10px;
  color: white;
  background: #0754a8;
  margin: 3px;
}

.views-exposed-widget.views-widget-sort-order {
  margin: 0 0 20px 0;
}

.l-page {
  margin: 0 auto;
  max-width: 1250px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.l-main {
  width: 66.10169%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
}

.l-header {
  width: 32.20339%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

#block-block-1 .logo-image, #block-block-3 .logo-image {
  margin-bottom: 5px;
}
#block-block-1 div.goal a, #block-block-3 div.goal a {
  display: block;
  background: #666666;
  color: white;
  padding: 10px 2px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.6em;
  border-top: 1px solid white;
}
#block-block-1 div.goal a:hover, #block-block-3 div.goal a:hover {
  color: #0754a8;
  background: #e1e1e1;
}
#block-block-1 div.goal-label, #block-block-3 div.goal-label {
  color: #0754a8;
  font-size: 1.8em;
  font-family: 'Roboto Slab', serif;
  padding: 10px 2px;
  margin-bottom: 2px;
}

.l-logo {
  clear: both !important;
  float: none !important;
  padding: 0;
  text-align: center !important;
}

.dwg {
  font-family: 'Roboto Slab', serif;
  background: #0754a8;
  font-size: 2em;
}
.dwg a {
  color: white;
  display: block;
  padding: 10px;
}

.l-content .post {
  background: #FFFFFF;
  overflow: hidden;
  position: relative;
  padding: 0px 20px 20px 20px !important;
  z-index: 0;
}

.node-type-article .l-content {
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  padding: 0px 20px 20px 20px !important;
  z-index: 0;
}

.field--name-body {
  margin: 20px 0;
}

.social {
  margin: 10px 0;
}
.social span a {
  list-style: none;
  text-align: center;
  display: inline-block;
  margin: 0 0 0 5px;
  width: 35px;
  color: #666666;
  height: 35px;
  line-height: 35px !important;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  border-radius: 200px;
  border: 1px solid #666666;
}

.front .mepic {
  float: left;
  margin-right: 10px;
}

.mepic img {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  border-radius: 200px;
  border: 1px solid #666666;
}

.social span a:hover {
  color: #0754a8;
  border-color: #0754a8;
}

span.submitted {
  float: left;
  margin: 10px;
  font-style: italic;
  font-family: 'Roboto Slab', serif;
}

.phase-more {
  display: none;
}

.phase-more.open {
  display: block;
}
