body {
  font-family: 'Roboto', sans-serif;
}

h1.site-name {
  margin-bottom: 0;
  font-size: 1.45em !important;
  a {
    color: $med-light;
  }
}


h1.front-title {
  font-size: 1.1em;
  line-height: 1.5;
  span {
    color: $light;
    background: $highlight;
    padding: 5px 10px;
  }
  @include breakpoint($port, true){
    font-size: 1.7em;
  }
  @include breakpoint($tablet, true){
    font-size: 4em;
  }
}
h2 {
  margin:0;
  padding:0;
}
h2.site-slogan {
  font-size: 1.45em;
  font-weight: 100;
  color: $medium;
}
h3 {
  font-size: 1.7em;
	margin-bottom: 20px;
}
h4 {
  font-size: 1.2em;
	margin: 30px 0 10px 0;
  border-bottom: 1px solid $med-light;
  font-weight: 100;
}
p {
  margin-bottom: 20px;
  line-height:1.5;
  color: $dark;
}
p.finish {
  font-size: 1em;
  padding: 20px;
}


